<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>test method</Title>
      <Author>Microsoft Corporation</Author>
      <Description>Code snippet for creating test method</Description>
      <HelpUrl />
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Keywords />
      <Shortcut>tstm</Shortcut>
    </Header>
    <Snippet>
      <References />
      <Imports />
      <Declarations>
        <Literal Editable="true">
		<Literal Editable="true">
          <ID>method</ID>
          <Type />
          <ToolTip>Method name to be tested</ToolTip>
          <Default>method1</Default>
          <Function />
        </Literal>
		<Literal Editable="true">
          <ID>case</ID>
          <Type />
          <ToolTip>Case to be tested</ToolTip>
          <Default>Case1</Default>
          <Function />
        </Literal>
      </Declarations>
      <Code Language="X++" Kind="" Delimiter="$">
	  <![CDATA[[public void test_$method$_$case$()
    {
        this.assertTrue(true);
    }]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
